<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flask Dice Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Flask Dice Game</h1>
      <p>Roll the dice and see what you get!</p>
      <div id="dice-container">
        <img id="dice" src="{{ url_for('static', filename='dice/dice1.png') }}" alt="dice">
      </div>
      <button id="roll-button" onclick="rollDice()">Roll</button>
      <p class="github-link">Created by <a href="https://github.com/AnantMishra01" target="_blank">Anant Mishra</a>. Check out the <a href="https://github.com/AnantMishra01/FlaskDice" target="_blank">GitHub repository</a>.</p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
